{% extends 'countries/base.html' %}
{% block content %}
<p>Country: <font size="3" color="blue">  <b>{{state}}</b></font></p>
<ul>
    {% for s in stateslist %}
    <li>
        <p><b> Added on {{ s.date_added|date:'M d, Y H:i' }}</b></p>
        <p>State Name: {{ s.state_name }}</p>
        <p>State Capital: {{ s.state_capital }}</p>
        <p>Total Districts: {{ s.total_districts }}</p>
        <p>
            <a href="{% url 'countries:edit_state' s.id %}">Edit State</a>
        </p>
    </li>
    {% empty %}
<li>
There are no states for this country yet.
</li>
{% endfor %}
</ul>

<a href = "{% url 'countries:new_state' state.id %}">Add a new state</a>

{% endblock content %}